/* Mobile view */

.flexman {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}

#boldy {
    font-weight: bold;
}

section {
    text-align: center;
    display: flex;
}

article img {
    padding-top: 20px;
    background-color: yellow;
    display: flex;
}

li {
    list-style: none;
    padding: 7px;
}

h3,
h4 {
    text-align: center;
    font-size: xx-large;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    width: 400px;
    padding-bottom: 5px;
}

.straight {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edge h4 {
    margin-top: 10px;
    margin-bottom: 0;
}

.edge img {
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 0;

}





body {
    border: 1px solid black;
    width: 400px;
    display: block;
    position: relative;

}

footer {
    color: white;
    font-size: larger;
}

.squish p {
    margin: 1px;


}

@media (min-width: 740px) {

    body {
        display: block;
        width: 1000px;
    }
    .holy_grail {
        display: grid;
        grid-template-columns: repeat(auto-fit);
        
    
    }

    .hero img {
        width: 1000px;
        height: auto;


    }

    picture {
        display: block;
        position: relative;

    }

    .data {
        position: absolute;
        top: 100px;
        left: 5px;
        width: 250px;
        font-size: large;
        background-color: rgba(250, 247, 247, 0.623);
        padding: 0;

    }

    .edge {
        position: absolute;
        bottom: 100px;
        right: 10px;
        background-color: rgba(250, 247, 247, 0.623);


    }

    header,
    footer {
        background-color: green;
    }




}