body {
    font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}


.banner {
    padding: 1rem;
    background-color: #eee;
    text-align: center;
    border: 1px solid black;
    box-shadow: 0 0 20px black;
    font-weight: 700;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
    display: grid;
    grid-template-columns: 1fr 200px;
}

h2 {
    color: navy;
    text-align: left;
    grid-column: 1 / 3;
}

article p {
    text-align: justify;
}

.callout {
    color: rgb(124, 146, 153);
    background-color: rgb(0, 42, 50);
    padding: 1rem;
    grid-column: 1 / 3;

}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
    text-align: left;
}