:root {
    --primary-color: rgb(92, 164, 169);
    --secondary-color: rgb(150, 100, 150);

}

main {
    width: 100%;
}

header {
    display: grid;
    grid-template-rows: 1fr;

}

h1 {
    text-align: center;

}

.flex {
    display: flex;
    justify-content: center;
}

.flex img {
    padding-right: 10px;
    margin-top: 10px;
    width: 50px;
    height: 50px;


}

nav,
caption {
    background-color: var(--primary-color);
    border: 1px solid black;
    margin: 2px;
    box-shadow: 0 0 20px grey;
}

li a:hover,
li a:active {
    color: white;
}


#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: aliceblue;
    color: black;
}

#menu::before {
    content: "≡";
}

#menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.nav ul {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
    display: flex;


}

nav {
    display: flex;

}


.navigation a {
    display: block;
    padding: .75rem;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: .5s;

}

.navigation a:hover,
navigation a:active {
    color: white;
    background-color: black;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}

.flexman {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 700px));
    grid-gap: 25px;
}

.clutch img {
    width: 100%;
}

footer {
    background-color: lightblue;
    text-align: center;
}

input[type="radio"]:hover,
input[type="radio"]:active {
    box-shadow: 0 0 20px red;
    background-color: blue;
}

form {
    display: block;



}

.order input[type="text"],
.order input[type="email"],
.order input[type="tel"] {
    display: block;
    margin-top: .5rem;
    margin-left: .5rem;

}

.order input[type="radio"] {
    margin-top: .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;

}

.order label {
    display: flex;
    align-items: center;

}

.order div {
    margin-top: .5rem;
    margin-bottom: .5rem;
}



fieldset {
    width: 90%;
    display: flex;
    flex-direction: column;


}