:root {
    --primary-color: rgb(92,164,169);
    --secondary-color: rgb(150, 100, 150);

}

.nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    list-style: none;
    font-size: large;
}nav, caption {
    background-color: var(--primary-color);
    border: 1px solid black;
    margin: 2px;
    box-shadow: 0 0 20px grey;
}
li a:hover, li a:active {
    color: white;
}

h1 {
    text-align: center;
    
}

.flex {
    display: flex;
    justify-content: center;
}

.flex img {
    padding-right: 10px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    
    
}

table,
tr,
th,
caption {
    border: thin solid black;
    border-collapse: separate;
    padding: 10px;
    text-align: center;
}
caption {
    margin-bottom: 10px;
}

table {
    margin: 10px;
}

tbody tr:nth-child(odd) {
    background-color: rgba(128, 148, 240, 0.637);

}

caption {
    font-size: larger;
}

.flexman {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.clutch {
    display: grid;
    grid-template-columns: 1fr 20%;

}

.letsgo {
    display: flex;
    flex-flow: column;

}

iframe {
    height: 100%;
}

.clutch img {
    width: 100%;
    height: auto;
    margin-bottom: 0;
    padding: 0;
}

input {
    margin: 10px;
}

label {
    text-align: left;
    margin-left: 0;
    text-decoration: underline;
    width: auto;
}

fieldset {
    height: auto;
    box-sizing: border-box;
    text-align: center;
}

input[type="radio"]:hover, input[type="radio"]:active {
    box-shadow: 0 0 20px red;
    background-color: blue;
        }


