/* Mobile view */

h1,
section,
footer,
picture {
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
}
h1 {
    color: white;
}

li {
    list-style: none;
}

header {
    background-color: rgb(4, 185, 4);
    padding: 1px;
}

footer {
    background-color: rgb(4, 185, 4);
    color: white;
    font-size: larger;
}

picture img {
    padding: 3px;
    background-color: yellow;
    margin-top: 0;
}

span {
    font-weight: bolder;
}

@media (min-width: 740px) {
    picture img {
        display: block;
        width: 100%;
        position: relative;
    }

    .hero {
        position: relative;
    }

    .up {
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 1px 10px 1px 0px;


    }

    .down {
        position: absolute;
        bottom: 20px;
        right: 10px;
        text-align: left;
        padding-right: 10px;



    }

    .straight {
        display: flex;
        background-color: rgba(247, 240, 240, 0.76);
    }

    .down img {
        width: 25px;
        display: block;
        position: absolute;
        margin-bottom: 90px;
        margin-right: 20px;
        

    }

    .down h4 {
        display: flex;
        background-color: rgb(4, 185, 4);
        width: 100%;
        padding-top: 10px;
        padding-bottom: 25px;
        padding-left: 10px;
        margin-top: 20px;
        margin-bottom: 0;
        margin-right: 25px;
        justify-content: left;
        align-items: center;
        

    }

    .up h3 {
        display: flex;
        background-color: rgb(4, 185, 4);
        width: 100%;
        padding-top: 5px;
        padding-bottom: 25px;
            margin-right: 25px;



    }
}