table, tr, th {
    border: thin solid black;
    border-collapse: collapse;
    padding: 10px;

}
 thead {
    background-color: black;
    color: white;
    
}

#silver {
    background-color: grey;
}
caption {
    padding: 10px;
    caption-side: bottom;
}
tbody tr:nth-child(even) {
    background-color: rgb(224, 222, 222);
    
}