  body {
      font-family: "Roboto", sans-serif;
      font-optical-sizing: auto;
  }


  header,
  main,
  footer {
      max-width: 640px;
      border: 1px dotted black;
      box-shadow: 0 0 30px blue;
      margin: 1rem auto;
      background-color: lightskyblue;

      padding: 10px;

  }

  main {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1rem;
  }

  section {
      padding: 1rem;
      background-color: white;
  }

  @media screen and (min-width: 500px) {
      header {
          background-color: black;
          color: white;
          grid-template-columns: 1fr 1fr;
      }

  }